<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <header class="header">
      <h1 class="header__title">Buscador de series</h1>
      <form class="header__form" action="">
        <input class="form__input js-input" type="text" />
        <button class="form__button js-button">Buscar</button>
      </form>
    </header>
    <main class="main">
      <ul class="container__list js-container">
        <!-- <li class="container__list__item">
          <img
            class="item__img"
            src="./assets/images/tvPlaceholder.png"
            alt=""
          />
          <h3 class="item__title">Friends</h3>
        </li>
        <li class="container__list__item">
          <img
            class="item__img"
            src="./assets/images/tvPlaceholder.png"
            alt=""
          />
          <h3 class="item__title">Lost</h3>
        </li>
        <li class="container__list__item">
          <img
            class="item__img"
            src="./assets/images/tvPlaceholder.png"
            alt=""
          />
          <h3 class="item__title">Outlander</h3>
        </li> -->
      </ul>
      <aside>
        <h2>Mis series favoritas</h2>
        <ul class="container__list js-container">
          <!-- <li class="container__list__item">
            <img
              class="item__img"
              src="./assets/images/tvPlaceholder.png"
              alt=""
            />
            <h3 class="item__title">The Crown</h3>
          </li> -->
        </ul>
      </aside>
    </main>
    <footer></footer>
    <script type="text/javascript" src="./assets/js/main.js"></script>
  </body>
</html>
